{% extends "anpu/templates/index.html" %}

{% block extra_head %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6F4GF7WMR1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6F4GF7WMR1');
</script>

<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
<script src="search_index.en.js"></script>
<script src="elasticlunr.min.js"></script>
<script src="search.js"></script>
{% endblock extra_head %}

{% block sidebar_nav %}
{% for menu_link in config.extra.anpu_menu_links %}
{% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
<a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
{% endfor %}

<div class="search-container">
  <input id="search" type="search" placeholder="🔎">
  <div class="search-results" style="display: none;">
    <div class="search-results__items"></div>
  </div>
</div>
{% endblock sidebar_nav %}
